body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: linear-gradient(to left top, rgba(27, 153, 139, 1), rgba(255, 253, 130, 1));

}

/*START SCREEN*/

.main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left top, rgba(27, 153, 139, 1), rgba(255, 253, 130, 1));
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}
h1 {
    margin: auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20vh;
    text-align: center;
}
h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    text-align: center;
}
.menu {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.startbtn, .rulesbtn, .advancebtn, #sleepbtn, #foodbtn, #addictionbtn, #workbtn, #exercisebtn, #therapybtn, #weedbtn {
    padding: 10px 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: x-large;
    transition-duration: .4s;
    background-color: transparent;
    border: 4px solid white;
    
}
.startbtn:hover, .rulesbtn:hover, .advancebtn:hover, #sleepbtn:hover, #foodbtn:hover, #addictionbtn:hover, #workbtn:hover, #exercisebtn:hover, #therapybtn:hover, #weedbtn:hover {
    background-color: white;
    color: rgba(27, 153, 139, 1);
    cursor: pointer;
}

/*RULES*/

.rules {
    display: none;
    padding-left: 30vw;
    padding-right: 30vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 25px;
}
.rulesTextTitle {
    font-size: 40px;
}

/*GAME STATUS*/

.game {
    display: none;
}
.moodTracker {
    display: flex;
    position: absolute;
    top: 0vh;
    padding-left: 300px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
.status {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    text-align: center;
}
#depression, #hypomania {
    font-size: 3vh;
    margin: auto;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}
.moodFrame{
    width: 75vw;
    height: 20px;
    display: flex;
    margin: auto;
}
.moodBar{
    height: 100%;
    flex: 1;
    background-color:linear-gradient(to left top, rgba(27, 153, 139, 1), rgba(255, 253, 130, 1));
    border: solid 10px white;
    border-radius: 15px;
    margin: 5px;
}
.moodRevealDepression{
    flex: 1;
    background: white; 
    height: 100%;
    width: 0%;
    float: right;
}
.moodRevealHypomania{
    background: white; 
    height: 100%;
    width: 0%;
}

#sleepimg {
    height: 160px;
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 50px;
}
#foodimg {
    height: 142px;
    padding: 50px;
}
#addictionimg {
    height: 160px;
    padding: 50px;
}
#workimg {
    height: 142px;
    padding: 50px;
}
#exerciseimg {
    height: 142px;
    padding: 50px;
}
#sleepbtn, #foodbtn, #addictionbtn, #workbtn, #exercisebtn, #therapybtn, #weedbtn {
    margin-right: 25px;
    font-size: medium;
}
.promptField {
    display: inline-block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 40vh;
    font-size: 2vh;
    text-align: left;
    padding-left: 450px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
}

.advancebtn {
float: left;
}